<h1 class='header center'>Galen & Chris, 2018</h1>

<h3 class='title'>Thank you, <%= @send_to_name %>, for RSVP'ing to Galen and Chris's wedding.  Here is a summary of the RSVP that you submitted:</h3>

<% if @rsvps[:attending].length != 0 %>
  <h3 class='title'>Attending:</h3>
  <% @rsvps[:attending].each do |name| %>
    <li><%= name %></li>
  <% end %>
<% end %>

<% if @rsvps[:not_attending].length != 0 %>
  <h3 class='title'>Not attending:</h3>
  <% @rsvps[:not_attending].each do |name| %>
    <li><%= name %></li>
  <% end %>
<% end %>

<h3 class='title'>Dietary Restrictions:</h3>
<% if @dietary_restrictions == "" %>
  <p>None.</p>
<% else %>
  <p><%= @dietary_restrictions %></p>
<% end %>
<br/>
<h3 class='title'>If this doesn't look correct, or if you have any other concerns, please contact Galen at <%= ENV["GALEN_EMAIL"] %>.</h3>
